name: Send out reminder about monthly meeting

on:
  schedule:
    # Das sollte der Donnerstag vor dem dritten Montag des Monats sein.
    - cron: 1 0 10-16 * 4


jobs:
  date:
    name: "Calculate Date"
    runs-on: ubuntu-latest
    steps:
      - run: |
          next_date=$(date -d "next Monday" "+%d.%m.")
          echo "next_date=$next_date" >> "$GITHUB_ENV"   

  discord:
    name: "Discord"
    runs-on: ubuntu-latest
    steps:
      - uses: cstuder/apprise-ga@v3.0.1
        with:
          title: "游니 Kommenden Montag (${{ env.next_date }}) ist wieder Freifunk Stammtisch 游니"
          message: "Am kommenden Montag ist unser n칛chstes Freifunk-Treffen, um 19:30 Uhr in den R칛umen des Netz39 e.V. in der Leibnizstr. 32!"
        env:
          APPRISE_URL: discord://${{ secrets.APPRISE_DISCORD_WEBHOOK_ID }}/${{ secrets.APPRISE_DISCORD_TOKEN }}

  email:
    name: "E-Mail"
    runs-on: ubuntu-latest
    steps:
      - uses: cstuder/apprise-ga@v3.0.1
        with:
          title: "游니 Kommenden Montag (${{ env.next_date }}) ist wieder Freifunk Stammtisch 游니"
          message: |-
            Liebe Freifunk-Interessent:innen,

            unser n칛chstes Treffen findet am kommenden Montag (${{ env.next_date }}) um 19:30 Uhr in den R칛umen
            des Netz39 e.V. (Leibnizstr. 32) statt.

            Falls ihr hybrid teilnehmen m칬chtet, gebt uns bitte bis 2h vorher kurz
            Bescheid, dann k칲mmern wir uns um die Online-Variante.

            Viele Gr칲른,
            Das ffmd-Team
        env:
          APPRISE_URL: mailtos://${{ secrets.APPRISE_MAIL_USER }}:${{ secrets.APPRISE_MAIL_PASS }}@mail.netz39.de/?to=ffmd@netz39.de,ffmd-dev@netz39.de,announce@netz39.de&from=kontakt@md.freifunk.net
