name: Send out reminder about monthly meeting

on:
  schedule:
    - cron: '1 0 * * THU'
  workflow_dispatch:


jobs:
  date:
    name: "Calculate Date"
    runs-on: ubuntu-latest
    steps:
      - id: date
        run: |
          next_date=$(date -d "next Monday" "+%d.%m.")
          echo "next_date=$next_date" >> "$GITHUB_OUTPUT"
          next_date_day=$(date -d "next Monday" "+%d")
          if [[ $next_date_day < 15 ]] || [[ $next_date_day > 22 ]];
          then
            echo "::notice::Wrong week, skip sending reminder."
            exit 1
          fi
    outputs:
      next_date: ${{ steps.date.outputs.next_date }}
  
  discord:
    name: "Discord"
    runs-on: ubuntu-latest
    needs:
      - date
    steps:
      - uses: cstuder/apprise-ga@v3.0.1
        with:
          title: "游니 Kommenden Montag (${{ needs.date.outputs.next_date }}) ist wieder Freifunk Stammtisch 游니"
          message: "Am kommenden Montag (${{ needs.date.outputs.next_date }}) ist unser n칛chstes Freifunk-Treffen, um 19:30 Uhr in den R칛umen des Netz39 e.V. in der Leibnizstr. 32!"
        env:
          APPRISE_URL: discord://${{ secrets.APPRISE_DISCORD_WEBHOOK_ID }}/${{ secrets.APPRISE_DISCORD_TOKEN }}

  email:
    name: "E-Mail"
    runs-on: ubuntu-latest
    needs:
      - date
    steps:
      - uses: cstuder/apprise-ga@v3.0.1
        with:
          title: "游니 Kommenden Montag (${{ steps.date.outputs.next_date }}) ist wieder Freifunk Stammtisch 游니"
          message: |-
            Liebe Freifunk-Interessent:innen,

            unser n칛chstes Treffen findet am kommenden Montag (${{ steps.date.outputs.next_date }}) um 19:30 Uhr in den R칛umen
            des Netz39 e.V. (Leibnizstr. 32) statt.

            Falls ihr hybrid teilnehmen m칬chtet, gebt uns bitte bis 2h vorher kurz
            Bescheid, dann k칲mmern wir uns um die Online-Variante.

            Viele Gr칲른,
            Das ffmd-Team
        env:
          APPRISE_URL: mailtos://${{ secrets.APPRISE_MAIL_USER }}:${{ secrets.APPRISE_MAIL_PASS }}@mail.netz39.de/?to=ffmd@netz39.de,ffmd-dev@netz39.de,announce@netz39.de&from=kontakt@md.freifunk.net
